:root {
    --primary-bg-color: #1e1e1e; 
    --secondary-bg-color: #2c2c2c;
    --primary-color: #007bff; 
    --secondary-color: #6f42c1; 
    --text-color: #f8f9fa;
    --highlight-color: #ffa500; 
    --font-family: 'Arial', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    line-height: 1.6;
    padding: 20px;
}

.banner {
    background-color: var(--primary-color);
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.banner a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.banner a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    color: var(--highlight-color);
    margin-bottom: 20px;
}

.series, .exclusives {
    margin: 20px 0;
}

.series h2, .exclusives h2 {
    color: var(--highlight-color);
    margin-bottom: 10px;
}

.sticker-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.sticker {
    position: relative;
    width: 100%;
    max-width: 300px;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sticker img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.2s;
}

.sticker:hover {
    transform: scale(1.05); /* Subtle zoom effect */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25); /* Subtle shadow effect */
}

.sticker:hover img {
    transform: scale(1.03); /* Subtle zoom effect for the image */
}

.original {
    border: 5px solid var(--primary-color);
}

.glitch {
    border: 5px solid var(--secondary-color);
}

.sticker label {
    position: relative;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.ownership-checkbox {
    margin-right: 10px;
    accent-color: var(--highlight-color);
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--highlight-color);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;
    position: relative;
    z-index: 1; /* Ensure the checkbox is on top */
}

.ownership-checkbox:checked {
    background-color: var(--highlight-color);
    border-color: var(--highlight-color);
}

.footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #777;
}

@media (max-width: 768px) {
    .banner {
        font-size: 20px;
    }
    .sticker-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}
